
<div *ngIf = 'selectedPizzaArray.length !==0 '>
<form [formGroup] = 'pizzaForm'>
{{pizzaForm.value|json}}
<div class = 'container' >
    <div class="row mt-3 ">
        <div class = 'col-md-12'>
          <h4>Total : {{totalNew|currency : usd}}</h4>
      </div>
    
    </div>
    <h5 class = 'mt-5 p-1'> Selected Pizza </h5>

  <div class="row">
    <div class = 'col-md-6' *ngFor = 'let selectedPizza of selectedPizzaArray'>
      <p><img [src] = 'selectedPizza.imgUrl' style = 'width : 50px'>{{selectedPizza.name}}</p>
    </div>

</div>



<div class="row">
  <div class = 'col-md-12 mb-3 mt-3' >
      <label> Select Topping : </label>
    <select class="browser-default custom-select"  #selectedData formControlName = 'toppings' (change) = 'selectTopping($event,selectedData.value)' >
      <option selected>Select Topping</option>
      <option  *ngFor = 'let topping of toppings$ | async' [ngValue] = 'topping'>{{topping.name}}&nbsp;&nbsp;{{topping.price|currency : usd}}</option>
    </select>
  </div>
</div>


<div class="row mt-3">
    <div class = 'col-md-12 mb-3'>
      <label> Email : </label>
        <input type="email" class="form-control" formControlName = 'email'  aria-describedby="emailHelp" placeholder="Enter email">
        <div *ngIf="f.email.errors">

        <div *ngIf="f.email.errors.required && ( f.email.touched || f.email.dirty)" class = 'error'>Email is required</div>
        <div *ngIf="f.email.errors.email&& ( f.email.touched || f.email.dirty)" class = 'error'>Email must be a valid email address</div>
          </div>
    </div>

</div>

<div class="row mt-3">
    <div class = 'col-md-12 mb-3'>
      <label> Delivery Address : </label>
        <input type="text" class="form-control"  formControlName = 'deliveryAddress' aria-describedby="emailHelp" placeholder="Enter Delivery Address">
        <div *ngIf=" f.deliveryAddress.errors">
            <div *ngIf="f.deliveryAddress.errors.required && ( f.deliveryAddress.touched || f.deliveryAddress.dirty)" class = 'error'>Address is required</div>
              </div>
      </div>
</div>
<div class="row mt-3">
    <div class = 'col-md-12 mb-3'>
      <label> State  : </label>
        <input type="text" class="form-control"  formControlName = 'state' aria-describedby="emailHelp" placeholder="Enter State">
        <div *ngIf=" f.state.errors">
            <div *ngIf="f.state.errors.required && ( f.state.touched || f.state.dirty)" class = 'error'>State is required</div>
              </div>
      </div>
     
  </div>
<div class="row mt-3">
  <div class = 'col-md-8 mb-3'>
    <label> City  : </label>
      <input type="text" class="form-control"  formControlName = 'city' aria-describedby="emailHelp" placeholder="Enter City">
      <div *ngIf=" f.city.errors">
          <div *ngIf="f.city.errors.required && ( f.city.touched || f.city.dirty)" class = 'error'>City is required</div>
            </div>
    </div>
    <div class = 'col-md-4 mb-3'>
        <label> Pin Code  : </label>
          <input type="text" class="form-control"  formControlName = 'pinCode' aria-describedby="emailHelp" placeholder="Enter Pin Code">
          <div *ngIf=" f.pinCode.errors">
              <div *ngIf="f.pinCode.errors.required && ( f.pinCode.touched || f.pinCode.dirty)" class = 'error'>Pin is required</div>
                </div>
        </div>
</div>

<div class="row">
    <label> Select Date :</label>
      <div class="col-md-12">
          <input type="text"
          class="form-control"
          [minDate]="minDate"
          #dp="bsDatepicker"
          formControlName = 'deliveryDate'
          bsDatepicker >
          <div *ngIf=" f.deliveryDate.errors">
              <div *ngIf="f.deliveryDate.errors.required && ( f.deliveryDate.touched || f.deliveryDate.dirty)" class = 'error'>Delivery Date is required</div>
                </div>
    </div>
</div>
<div class="row mt-3">
    <label> Select Time :</label>
  <div class="col-md-12">
      <timepicker formControlName = 'deliveryTime' ></timepicker>
      <div *ngIf=" f.deliveryTime.errors">
          <div *ngIf="f.deliveryTime.errors.required && ( f.deliveryTime.touched || f.deliveryTime.dirty)" class = 'error'>Delivery Time is required</div>
            </div>
  </div>

</div>

<div class="row p-3" >
    <div class="col text-center">

  <button class = 'btn btn-primary' style = 'background-color : #3B3F68 ; border-color : #3B3F68 ' (click) = 'placeOrder()' [disabled] = "pizzaForm.invalid"  > Place Order  </button>
    </div>
</div>



</div>