


<ul class="nav p-2" >
  <h3 class = 'ml-3'> <img src = '../assets/images/pepperronni.png' style = 'width : 80px'/>Pizza Novalicious</h3>
</ul>


<div class="container">
  <div class="row">

    <div class="col-md-6 mt-5">
      <h3 class = 'text-center mt-5 mb-5'> Please Select  Pizza </h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" [ngClass] = "{'active': pizza.active}" *ngFor = 'let pizza of pizzaMenu$ | async'>
          <div class="row" (click) = 'selectedPizza(pizza , i );total()'>
            <div class="col-md-8">
                <p> <img [src] = 'pizza.imgUrl' class="img-rounded"  style = 'width : 80px'><b>{{pizza.name}} </b></p>
            </div>
            <div class="col-md-4">
                <p class = 'price'>{{pizza.price | currency:'USD'}} </p>
              </div>
          </div>

        </li>
       
      </ul>
    </div>

    <div class="col-md-6">
      <app-pizza-form [selectedPizzaArray] = 'selectedPizzaArray' [total] = 'totalPrice' ></app-pizza-form>
    </div>
  </div>
</div>

